body {
  font-family: Arial, sans-serif;
}

header {
  background-color: #f8f9fa;
  padding: 20px;
  text-align: center;
}

main {
  margin: 20px;
}

form {
  margin-bottom: 20px;
}

textarea {
  width: 100%;
  height: 50px;
}

#messages {
  margin-top: 1px;
}

.message {
  display: flex;
  flex-direction: column;
  background: #e9ecef;
  padding: 1px 12px; /* Verringerter Innenabstand für eine kompaktere Darstellung */
  border-radius: 5px;
  margin-bottom: 10px;
}

.message .text {
  word-break: break-word;
}

.message .timestamp {
  align-self: flex-end;
  color: gray;
  margin-top: 1px;
  margin-bottom: 1px;
}
